// Body
$body-bg: #f8fafc;
$default-body-margin: 50px;
$default-body-padding: 50px;

// h1
$default-h1-margin-left:535px;
$default-h1-padding-bottom:30px;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-align:center;
